<!--proyectos-->
<section id="proyectos" class="proyectos">
    <div class="card mat-card" style="background-image: url(assets/IMG/Fondo.pantalla.animado.gif);">
      <div class="proyectos">
       <div>
         <h5 class="text-center" ><u>Proyectos</u></h5>
       </div>
         <br>                     
         <!-- cards de los proyectos -->
         <div class="container-fluid">
           <div class="container text-center">
             <div class="row">
                 <div class="col">
                   <div class="card" >
                     <img src="assets/IMG/Captura de pantalla (1).png" class="card-img-top" alt="...">
                     <div class="card-body">
                      <h5 class="card-title"><i>Web Portofolio personal.</i></h5>
                      <p class="card-text"><i>Pagina portofolio personal realizada con HTML5, CSS, BOOTSTRAP, JAVA, ANGULAR Y SPRINGBOOT</i></p>
                      <a href="https://github.com/ramonjonatanvega/portafoliofrontend-maquetado-" class="btn btn-primary">Ver código</a>
                     </div>
                   </div>
                 </div>
                   <div class="col">
                    <i>Futuro-Proyecto</i>
                   </div>
               <div class="col">
                 <i>Futuro-Proyecto</i>
               </div>
             </div>
           </div>
         </div>
      </div>                                
    </div>
        
       <!--pie de pagina-->
<footer>
<div class="container-fluid"> 
<div class="text-center">
<p >Diseñado por: <i><b>Jonatan Vega <a href="#top"><button type="submit" class="btn btn-close-black"><i
    class="fa-solid fa-arrow-turn-up"></i></button></a></b></i></p>

</div>

</div>
</footer> 
</section> 
