i.fa-solid.fa-user.fa-2xl:hover{
    color: rgba(37, 20, 187, 0.856);
    transition: transform 0.3s ease-in-out;
    transform: scale(1.40); 
}
i.fa-solid.fa-user.fa-2xl{
    color: #000;
    
}