<!-- EDUCACION-->
<section id="educacion" class="educacion">        
    <div class="card mat-card ">
      <div class="container-fluid" id="educacion">      
        <h3 class="text-center">                
         Educacion                
         </h3>
      </div>     
          <div class="row">
            <div class="col-sm-4">
             <img  src="assets/IMG/estenos.png" class="rounded-circle" id="logoseducacion" alt="Logo-ISPC" width="75rem">
            </div>       
              <div class="col-sm-8">
               <p class="text-start" id="titulosed"><strong><u>Instituto Educacion Secundaria "Felipe Santiago Estenos"</u></strong></p>                        
               <p class="text-start"><li><i>Bachiller</i></li></p>         
              </div>         
          </div>
          <br>
          <div class="row">
            <div class="col-sm-4">
             <img  src="assets/IMG/images.png" class="rounded-circle"  id="logoseducacion" alt="instituto-g-paz" width="75rem">
            </div>  
                    
              <div class="col-sm-8">
                <p class="text-start" id="titulosed"><strong><u>Instituto "World Data System"</u></strong></p>             
                <p class="text-start"><li><i>Tecnico en Computacion y Sistemas</i></li></p>          
              </div>
          </div>   
          <br>
          <div class="row">
              <div class="col-sm-4">
               <br>
               <img  src="assets/IMG/channels4_profile.png" class="rounded-circle" id="logoseducacion" alt="Logo-arg-programa" width="75rem">
              </div>
            <div class="col-sm-8">
              <p class="text-start" id="titulosed"><strong><u>Argentina Programa</u></strong></p>    
              <p class="text-start"><li><i>Desarrolo Web Full Stack.</i></li></p>
            </div>                                  
          </div> 
    </div>    
  </section>









