/*body{
    background-image: url(../IMG/ARGENTINABANDERA.webp);
    background-size: 100% ;
    background-repeat: no-repeat;
    min-height: 100vh;
    
}*/
/*redes sociales y login*/
.navbar.navbar-expand-lg.bg-ligth{
background: #c6d3d3 ;
border: ;
}
i.fa-brands.fa-square-facebook.fa-2xl:hover {
color: blue;
}
i.fa-brands.fa-instagram.fa-2xl:hover {
  color: rgb(194, 4, 109);  
}
i.fa-brands.fa-square-github.fa-2xl:hover {
    color: black;
}
i.fa-brands.fa-square-twitter.fa-2xl:hover{
    color: rgb(0, 172, 238);
}
i.fa-solid.fa-user-lock.fa-2xl:hover{
    color: rgba(37, 20, 187, 0.856);

}
i.fa-solid.fa-user.fa-2xl:hover{
    color: rgba(37, 20, 187, 0.856);
    
}
/*redes sociales*/
.list-group{
    --bs-list-group-bg:transparent;
    --bs-list-group-border-width: 0;
}

/*section.about{
    margin-top:30rem;
}*/
/*estilos internos dashboard*/
section.dashboard, section.panel{
margin-top:6rem;
}
/*section.bannercarousel{
    margin-top:5.5rem;
    background-repeat: no-repeat;
    background-size: 100%;
    color: #fff;
   
}*/
/*section.educacion,section.proyectos{
    background-image: url(/ASSETS/IMG/APLogo-20-20.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #fff;
}*/
/*section.perfil{
    position:absolute;
    height:200px;
    width:55rem;
    top: 47rem auto;
    
    z-index: 1; 
    margin-top: -10.5rem;

}*/
section.experiencia{
    /*position:absolute;*/
    height:680px;
    width:70rem;
    left : -150px;
    z-index: 1; 
      margin-top: -2rem;
     
}

section.educacion{
    height:200px;
    width:70rem;
    left : -150px;
    z-index: 1; 
      margin-top: -9.5rem;
}
section.proyectos{
    height:200px;
    width:70rem;
    left : -150px;
    z-index: 1; 
      margin-top: -0.7rem; 
}
/*section.footer{
    height:200px;
    width:70rem;
    left : -150px;
    z-index: 1; 
      margin-top: 8rem;   
}*/
section.habilidades{
    height:200px;
    width:70rem;
    left : -150px;
    z-index: 1; 
      margin-top:12.4rem;
      
}
.card.mat-card{
    border-radius: 32px;
        margin: 30px 10px;
        padding: 13px;
        border-color:#0ea5dc;
        width: 83rem;
        box-shadow: 2px 2px 4px 10px rgba(157, 5, 38, 0.856);
        color:#fff;
       background-color:black;
}

/* comentario abajo del banner*/
div#fullstack{
    font-weight: bolder; font-size: 1.2rem; 
    margin-top: 12rem;
    width:105rem;
    margin: 10rem 4rem ;
    margin-top: 5.5rem;
    font-size: 2rem; text-shadow:0px 9px 1rem #055b52
}
/*foto de perfil centrado*/
.col-md-4{
    position:absolute;
    height:200px;
    width:15rem;
    top: 47rem auto;
    margin: -5rem;
    z-index: 1; 
    margin-top: -25.5rem; 
    font-size: 2rem; text-shadow:0px 9px 1rem #055b52 
}

/*experiencia - colores letras*/
div#experiencia{
    text-shadow:0px 2px 1rem;    
}

/*educacion - colores letras*/
div#educacion{
    text-shadow:0px 2px 1rem;      
}

/*proyectos-colores letras*/
div#proyectos{
   text-shadow:0px 2px 1rem;
}

/*habilidades-colores letras*/
div#habilidades{
    text-shadow:0px 2px 1rem; 
}
.card-body{
    color:rgb(0, 0, 0);  

}



