<!--habilidades columna 1 de skills-->
<section id="habilidades" class="habilidades">
    <div class="card mat-card">
      <div class="container-fluid" id="educacion">      
        <h3 class="text-center">                
         Hard soft & skills               
         </h3>
      </div>     
    <div class="row">           
   <div class="col-6">
        <p class="text-start" >HTML 5 </p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 85%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">85%</div>
        </div>
        <p class="text-start" >CSS</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
        </div>
        <p class="text-start" >JAVASCRIPT</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
        </div>
      </div>
     
     
     
     
     <!-- columna 2 de skills-->
     
      <div class="col-6">
        <p class="text-start" style="color:#fff;">TYPESCRIPT</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
        </div>
        <p class="text-start" style="color:#fff;">ANGULAR</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
        </div>
        <p class="text-start" style="color:#fff;">BOOTSTRAP</p>

        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
        </div>
      </div>
    </div>    
    </div>   
    <br>   
  </section>





 
